body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    text-align: left;
    height: 100%;
    background-color: #EEEEEE;
}

header {
    font-family: "Montserrat", sans-serif;
}

article {
    font-family: "Roboto", sans-serif;
    text-align: justify;
}

canvas {
    border: 1px solid #000000;
}

#wrapper {
    width: 40%;
    min-width: 700px;
    margin: 0 auto;
    display: block;
}

#network {
    font-size: 18px;
    line-height: 18px;
}

#input {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
    position: relative;
}

#activate {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
    position: relative;
}

/*#button {
    text-align: center;
    vertical-align: center;
}*/

.guess {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
}

#output.animate {
  	-webkit-transition: opacity 0.3s ease-in-out;
  	-moz-transition: opacity 0.3s ease-in-out;
  	-ms-transition: opacity 0.3s ease-in-out;
  	-o-transition: opacity 0.3s ease-in-out;
  	-transition: opacity 0.3s ease-in-out;
}

.tools { 
    margin-bottom: 10px; 
}
      
.tools a {
    border: 1px solid black; 
    height: 30px; 
    line-height: 30px; 
    padding: 0 10px; 
    vertical-align: middle; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    color: black; 
    font-weight: bold;
}